<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.it.system.mapper.AccountMapper">

  <update id="payMoney" parameterType="int">
      update cy_account set amount=amount - #{money} where id=#{id}
  </update>
</mapper>
