<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.system.mapper.SysUserMapper">

    <resultMap id="userMap" type="com.it.common.api.model.system.SysUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="realname" property="realname"/>
        <result column="nickname" property="nickname"/>
        <result column="password" property="password"/>
        <result column="org_id" property="orgId"/>
        <result column="dept_id" property="deptId"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="wx_openid" property="wxOpenid"/>
        <result column="is_rest" property="isRest"/>
        <result column="lock_flag" property="lockFlag"/>
        <result column="description" property="description"/>
        <result column="job" property="job"/>
    </resultMap>

    <select id="getOne" parameterType="string" resultMap="userMap">
        select * from sys_user where username = #{username}
    </select>
</mapper>
